[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "==2.8.3"
gunicorn = "==19.9.0"
django-iban-field = "==0.8"
djangorestframework = "==3.11.2"
django-rest-framework-social-oauth2 = "==1.1.0"
django-createsuperuserwithpassword = "==2.0.0"
django-admin-sso = "==2.4.0"
django-cors-headers = "==3.1.1"
django-guardian = "==2.1.0"
djangorestframework-guardian = "==0.3.0"

[requires]
python_version = "3.7"
